@model ShoeShop.ViewModels.ShoppingCartViewModel

@{
    ViewData["Title"] = "ShoppingCart";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="@Url.Action("Index", "Home")">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="3">Product</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.items.Count == 0)
	                    {
		                     <tr>
                                 <td colspan="4">
                                     There are no products in your shoppingcart 
                                 </td>
                             </tr>
	                    }

                        @for (int i = 0; i < Model.items.Count; i++)
                        {

                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="~/img/product/@Model.items[i].shoe.img" alt="" style="height: 100px; width: auto;">
                                    </div>
                                    
                                </div>
                            </td>
                            <td colspan="2">
                                <div class="media-body">
                                    <p>@Model.items[i].shoe.Name</p>
                                </div>
                            </td>
                            <td>
                                <h5>€@Model.items[i].shoe.Price</h5>
                            </td>
                        </tr>

                        }

                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>€@Model.SubTotal</h5>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="@Url.Action("Index", "Product")">Continue Shopping</a>
                                    <a class="primary-btn" href="/Order/Checkout?accountID=@Model.AccountID">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->